body { 
    font-family: monospace;
    background-color: rgb(38, 61, 95);
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    height: 100%;
    margin: 0;

    color: white;
}



/*.crt-screen::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: radial-gradient(
        circle,
        transparent 60%,
        rgba(0, 0, 0, 0.1) 70%,
        rgba(0, 0, 0, 0.3) 90%
    );
    transform: scale(1.5);
    pointer-events: none;
}*/

.screen-line {
    display: flex;
    flex-direction: row;
}

.text-wrapper {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center center;

    text-decoration: inherit;
}

.console-word:hover {
    cursor: pointer;
    text-decoration: underline;
}

.scene {
    position: relative;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    margin: 0;

    transition: transform 1s;
}

.backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('./assets/backdrop-2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.computer {
    position: absolute;

    width: 20%;
    aspect-ratio: 1;
    
    top: 44%;  
    left: 55%; 
}

.screen-background {
    background-color: black;

    position:absolute;
    top: 13%;
    left: 13%;

    width: 45%;
    height: 47%;

    transition: background-color 1s ease-in;
}

.computer-border {
    position:absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    background-image: url("./assets/computer.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.screen-content {
    color: white;
    position:absolute;
    top: calc(16.5% - 180%);
    left: calc(16% - 179%);

    font-size: 500%;
    scale: 0.1 !important;

    width: 400%;
    height: 400%;

    overflow: scroll;
}

.radio {
    position: absolute;
    width: 15%; 
    height: 20%; 
    
    left: 72%;
    top: 52%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("./assets/radio.png");
    background-size: contain;
    background-repeat:no-repeat;
}

#radio-screen {
    position: absolute;

    background-color: black;

    top: 46%;
    left: 57%;

    display: block;

    width: 20%;
    height: 14%;

    color: rgb(201, 4, 4);
    font-weight: bold;
    font-size: 70%;

    justify-content: center;
    text-align: center;

    pointer-events: none;

    overflow: hidden;
}

.power-button {
    background-image: url("./assets/power-button-export.png");
    background-size: contain;
    background-repeat:no-repeat;

    position: relative;
    top: 50%;
    left: 62%;

    aspect-ratio: 1;
    width: 8%;
    border-radius: 50%;
}

.mouse-bounds {
    position: absolute;
    top: 66%;
    left: 47.2%;

    height: 2%;
    width: 10%;
}

.mouse {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 40%;

    transition: all 0.1s;
}

.plant-01 {
    display: block;
    position: absolute;

    height: 35%; 
    
    aspect-ratio: 0.5;
    
    left: 17%;
    top: 37%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("./assets/plant-01.png");
    background-size: contain;
    background-repeat:no-repeat;
}

.tea {
    position: absolute;
    width: 5%; 
    aspect-ratio: 0.5;
    
    left: 39%;
    top: 54%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("./assets/tea.gif");
    background-size: contain;
    background-repeat:no-repeat;

    transition: left 1s ease;
}

.pause-button {
    position: absolute;
    
    background-image: url("./assets/pause-button-on.png");
    background-size: contain;
    background-repeat:no-repeat;

    top: 46.5%;
    left: 35.3%;

    aspect-ratio: 1;
    width: 8%;
}

.media-button {
    background-image: url("./assets/next-button.png");
    background-size: contain;
    background-repeat:no-repeat;

    position: absolute;

    top: 46.5%;

    aspect-ratio: 1;
    width: 8%;
}

#next-button {
    left: 45%;
}

#prev-button {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    position: absolute;
    left: 26%;
}

img, .computer, .radio, .mouse .backdrop {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.aspect-ratio-container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 177.78vh; 
    max-height: 56.25vw; 
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#poster {
    display: block;
    position: relative;

    width: 20%; 


    aspect-ratio: 1;
    
    left: 2%;
    top: 21%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("./assets/poster.png");
    background-size: contain;
    background-repeat:no-repeat;
}